@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);


* {
    box-sizing: border-box;
    font-size: 20px;

}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    ;
}

/* ==================================================
                    navbar 
===================================================*/

.navbar {
    height: 54px;
    width: 100%;
    align-items: center;
}

.navbar-content {
    height: 54px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #448899;
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
    height: 34px;

}

.menu {
    display: flex;
    /*移除項目符號*/
    list-style-type: none;
    /* 去掉瀏覽器原有margin和padding */
    margin: 0;
    padding: 0;
}

.menu li {
    font-size: 16px;
    /* a為行內元素，超連結只會在字體範圍內，若想點擊整個格子都有超連結須將超連結改為block*/
    margin-right: 15px;
    color: #666666;
    cursor: pointer;
}

.menu li:hover {
    font-weight: bold;
}

/* ==================================================
                    Welcome 
===================================================*/

.welcome {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/welcome.png');
    background-size: cover;
    margin: 0px 0px 55px 0px;
}

.welcome_inner {
    width: 1180px;
}

.slogan {
    width: 1180px;
    height: 78px;
    position: relative;
    left: 0px;
    top: 0px;
}

.p1 {
    position: absolute;
    top: 0px;
    margin: 0px;
    font-size: 28px;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}

.p2 {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    font-size: 16px;
    color: #F8F8F8;
}

.searchbar {
    width: 460px;
    height: 46px;
    margin-top: 25px;
}

.search {
    float: left;
    width: 400px;
    height: 46px;
    border: none;
    margin: 0;
    padding: 15px;
    font-size: 16px;
    color: #757575;
}

.searchbutton {
    float: left;
    width: 60px;
    height: 46px;
    background: #448899;
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.searchbutton:hover {
    background: #2b5964;
}

.searchbutton:hover::before {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 60px;
    border-radius: 5px;
    background: rgb(246, 246, 207, .6);
    content: '點按搜尋';
    font-size: 10px;
}

.categories {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    width: 400px;
    /* height: 300px; */
    margin: 0;
    position: relative;
    /* top: 46px; */
    background-color: white;
    z-index: 1;
    padding: 10px;
    border: gray solid 1px;
}

.category:hover {
    background-color: #448899;
    color: white;
    cursor: pointer;
}

/* ==================================================
                    grid 
===================================================*/

.content {
    width: 1200px;
    padding: 15px;
    margin: 0px auto;
}

.grid_small {
    width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin: 30px auto 0px auto;
}

.grid_small a {
    text-decoration: none;
}

.site {
    width: 100%;
    height: auto;
    /* height: 237px; */
    overflow: hidden;
}

.site_img {
    position: relative;
    width: 100%;
    /* width: 270px; */
    height: 197px;
    overflow: hidden;
    background-size: cover;
    opacity: 1.0;
}

.grid_small a:hover .site_img {
    opacity: 0.8;
}


.site_name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* height: 40px; */
    margin: 0px;
    background-color: rgb(0, 0, 0, .6);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px;
}

.site_name p {
    margin: 0px;
    font-size: 16px;
}

.site_info {
    padding: 10px;
    display: flex;
    border: 1px;
    border-color: gray;
    border-radius: 30px;
}

.site_MRT {
    width: 50%;
    height: 25px;
    display: flex;
    flex-direction: row;
    margin: 0px;
    align-items: center;
    font-size: 16px;
}

.site_MRT p {
    margin: 0px;
    color: #757575;
    font-size: 16px;

    /* border: 1px; */
    /* border-color: gray; */
}

.site_category {
    width: 50%;
    height: 25px;
    margin: 0px;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}

.site_category p {
    text-align: right;
    font-size: 16px;
    color: #757575;
    margin: 0px;
}

/* ==================================================
                    footer 
===================================================*/


.footer {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    margin: 55px 0px 0px 0px;

}

.footer div {
    font-size: 16px;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {

    .welcome_inner {
        width: 90%;
    }

    .navbar {
        width: 95%;
    }

    .navbar-content {
        width: 100%;
        margin: 0px 10px;
    }

    .lego {
        width: 90%;
    }

    .content {
        width: 90%;
    }

    .grid_small {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .site_img {
        padding-top: 62.5%;
        height: auto;
    }

}

@media screen and (max-width: 600px) {

    .searchbar {
        width: 90%;
    }

    .search {
        width: 70%;
    }

    .grid_small {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}