<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/css/attraction.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/booking.css">
</head>

<body>

    <div class="main">
        <!-- 導覽列 -->
        <nav class="navbar">
            <div class="navbar-content">
                <a class="logo" href="/">台北一日遊</a>
                <nav class="navbar-list">
                    <ul class="menu">
                        <li class="booking">預定行程</li>
                        <li class="login" onclick="signinOpen();">登入/註冊</li>
                        <li class="logout" onclick="signout();">登出系統</li>
                    </ul>
                </nav>
            </div>
        </nav>
        <!-- 登入 -->
        <div class="signin">
            <div class="signin_head"></div>
            <div class="signin_content">
                <h3>登入會員帳號</h3>
                <div class="signin_close"><img src="../static/img/icon_close.png" alt="" onclick="signinClose();"></div>
                <input type="text" placeholder="輸入電子信箱" class="signin_input signin_email">
                <input type="password" placeholder="輸入密碼" class="signin_input signin_password">
                <button onclick="signinAccount()">登入帳戶</button>
                <div class="signin_errorMsg"></div>
                <p class="signin_signup" onclick="signupOpen();">還沒有帳戶？點此註冊</p>
            </div>
        </div>
        <!-- 登入 end -->
        <!-- 註冊 -->
        <div class="signup">
            <div class="signup_head"></div>
            <div class="signup_content">
                <h3>註冊會員帳號</h3>
                <div class="signup_close"><img src="../static/img/icon_close.png" alt="" onclick="signupClose();"></div>
                <input type="text" placeholder="輸入姓名" class="signup_input signup_name">
                <input type="text" placeholder="輸入電子郵件" class="signup_input signup_email">
                <input type="password" placeholder="輸入密碼" class="signup_input signup_password">
                <button onclick="signupAccount()">註冊新帳戶</button>
                <div class="signup_errorMsg"></div>
                <p class="signup_signin" onclick="signinOpen();">已經有帳戶了？點此登入</p>
            </div>
        </div>
        <!-- 註冊 end -->
        <!-- 導覽列end -->

        <!-- 主內容 -->
        <div class="booking_content">
            <h2 class="booking_headline"></h2>
            <div class="journey">
                <img class="journey_img" src="" alt="">
                <div class="journey_info">
                    <div class="journey_attraction"></div>
                    <div class="journey_date"></div>
                    <div class="journey_time"></div>
                    <div class="journey_price"></div>
                    <div class="journey_address"></div>
                    <img src="../static/img/icon_delete.png" alt="icon_delete" class="journey_delete">
                </div>
            </div>
            <div class="contact">
                <h2>您的聯絡資訊</h2>
                <div>
                    <p>聯絡姓名：</p><input type="text" class="contact_name">
                </div>
                <div>
                    <p>聯絡信箱：</p><input type="email" class="contact_email">
                </div>
                <div>
                    <p>手機號碼：</p><input type="text" class="contact_phone">
                </div>
                <div>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
            </div>
            <div class="payment">
                <h2>信用卡付款資訊</h2>
                <label for="card-number">卡片號碼：<div class="tpfield" id="card-number"></div>
                </label>
                <label for="card-expiration-date">過期時間：<div class="tpfield" id="card-expiration-date"></div>
                </label>
                <label for="card-ccv">驗證密碼：<div class="tpfield" id="card-ccv"></div>
                </label>
            </div>
            <div class="confirm">
                <div class="confirm_totalCost"></div>
                <button class="journey_order" id="submit">確認訂購並付款</button>
                <div class="confirm_msg">
                    <img class="confirm_msg_icon" src="../static/img/warning.svg" alt="warning_icon">
                    <div class="confirm_msg_text"></div>
                </div>
            </div>
        </div>
        <!-- 主內容end -->
    </div>

    <!-- footer -->
    <footer class="footer">
        <div>COPYRIGHT @ 2022 台北一日遊</div>
    </footer>
    <!-- footer end-->

    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/booking.js"></script>

</body>

</html>