<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!-- 導覽列 -->
    <nav class="navbar">
        <a class="logo" href="#">台北一日遊</a>
        <nav class="navbar-list">
            <ul class="menu">
                <li><a href="#">預定行程</a></li>
                <li><a href="#">登入/註冊</a></li>
            </ul>
        </nav>
    </nav>
    <!-- 導覽列end -->

    <!-- welcome -->
    <div class="welcome">
        <div class="welcome_inner">
            <div class="slogan">
                <p class="p1">輕鬆享受台北一日悠閒</p>
                <p class="p2">探索每個角落，體驗城市的深度旅遊行程</p>
            </div>
            <div class="searchbar">
                <input placeholder="輸入景點名稱查詢" class="search">
                <button class=" searchbutton" onclick="search();"><img src="../static/img/icon_search.png"
                        alt="送出按鈕"></button>
                <div class="categories"></div>
            </div>
        </div>
    </div>
    <!-- welcome end -->

    <!-- 主內容 -->
    <div class="content">
        <!-- <div class="grid_small">
            <div class="site site_1">
                <div class="site_img">
                    <div class="site_name"></div>
                </div>
                <div class="site_info">
                    <div class="site_MRT"></div>
                    <div class="site_category"></div>
                </div>
            </div>
            <div class="site site_2">
                <div class="site_img">
                    <div class="site_name"></div>
                </div>
                <div class="site_info">
                    <div class="site_MRT"></div>
                    <div class="site_category"></div>
                </div>
            </div>
            <div class="site site_3">
                <div class="site_img">
                    <div class="site_name"></div>
                </div>
                <div class="site_info">
                    <div class="site_MRT"></div>
                    <div class="site_category"></div>
                </div>
            </div>
            <div class="site site_4">
                <div class="site_img">
                    <div class="site_name"></div>
                </div>
                <div class="site_info">
                    <div class="site_MRT"></div>
                    <div class="site_category"></div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- 主內容end -->

    <!-- footer -->
    <footer class="footer">
        <div>COPYRIGHT @ 2022 台北一日遊</div>
    </footer>
    <!-- footer end-->

    <script type="text/javascript" src="../static/js/script.js"></script>
</body>

</html>